# Lab 03

This homework is a kaggle-competition.
Link to join the competition: https://www.kaggle.com/t/1aeb25700aa34f3cbd8aad23c43ea5c6
Please make sure to use your real name so that your participation could be evaluated.

How to submit your solutions: see code in the notebook.
- Before  the final deadline you have to send a notebook with your best solution to `cosmic.research.ml@yandex.ru`
- Name your file according to this convention: `2021_lab03_GroupNumber_Surname_Name.ipynb`
- Attach your .ipynb to an email with topic `2021_lab03_GroupNumber_Surname_Name.ipynb`
- Send it to `cosmic.research.ml@yandex.ru`
- Final Deadline is `2021-11-03 23:00:00 +03:00`

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Data can be downloaded from here: https://disk.yandex.ru/d/7aiYfUHOzX3IYw

In [11]:
train_db = pd.read_csv("data/train_db.csv")
test_db = pd.read_csv("data/test_db.csv")

In [12]:
train_db.shape, test_db.shape

((327828, 103), (81958, 102))

In [13]:
train_db.head()

,match_id,r1_hero,r1_level,r1_xp,r1_gold,r1_lh,r1_kills,r1_deaths,r1_items,r2_hero,...,dire_bottle_time,dire_courier_time,dire_flying_courier_time,dire_tpscroll_count,dire_boots_count,dire_ward_observer_count,dire_ward_sentry_count,dire_first_ward_time,duration,radiant_win
0,0.0,62.0,0.0,611.0,608.0,2.0,0.0,7.0,9.0,97.0,...,194.0,-82.0,254.0,4.0,3.0,1.0,1.0,41.0,2336.0,1
1,1.0,21.0,0.0,1911.0,1743.0,29.0,0.0,6.0,8.0,98.0,...,60.0,-86.0,NaN,1.0,4.0,2.0,0.0,-17.0,3207.0,0
2,2.0,11.0,0.0,886.0,1127.0,14.0,0.0,14.0,9.0,104.0,...,NaN,-86.0,277.0,6.0,2.0,2.0,0.0,23.0,3025.0,0
3,3.0,31.0,0.0,1539.0,669.0,4.0,0.0,10.0,7.0,14.0,...,76.0,-73.0,NaN,4.0,5.0,2.0,0.0,158.0,2192.0,1
4,4.0,47.0,2.0,1947.0,1378.0,19.0,0.0,5.0,6.0,112.0,...,-68.0,-73.0,NaN,4.0,1.0,0.0,0.0,NaN,2385.0,1

In [14]:
Y_train = train_db["radiant_win"]
X_train = train_db.drop(columns=["radiant_win"])
X_train = X_train.fillna(X_train.mean())
X_test = test_db.fillna(X_train.mean())

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score

SEED = 42

# Public Baseline

In [16]:
clf = DecisionTreeClassifier()

print(np.mean(cross_val_score(clf, X_train, Y_train, cv=5, scoring='roc_auc', n_jobs=-1)))

0.760861861626477

In [17]:
clf.fit(X_train, Y_train)

DecisionTreeClassifier()

In [18]:
predictions = clf.predict_proba(X_test)[:, 1]

In [19]:
submit_data = test_db[["match_id"]].copy()
submit_data.loc[:, "radiant_win"] = predictions
submit_data.to_csv("public_baseline_submission.csv", index=None)

# Medium Baseline

In [20]:
clf1 = RandomForestClassifier(random_state=SEED)

print(np.mean(cross_val_score(clf1, X_train, Y_train, cv=2, scoring='roc_auc', n_jobs=-1)))

0.9482703642775347

In [21]:
clf1.fit(X_train, Y_train)

RandomForestClassifier(random_state=42)

In [22]:
pred = clf1.predict_proba(X_test)[:, 1]

In [23]:
submit_data = test_db[["match_id"]].copy()
submit_data.loc[:, "radiant_win"] = pred
submit_data.to_csv("medium_baseline_submission.csv", index=None)